# Test Suites
.vscode/**
.vscode-test/**
test/**

# Promotional Assets
assets/docs/**
assets/github/**
assets/src/**

# Editor Config
.gitignore
**/jsconfig.json
**/*.map
**/.eslintrc.json
.editorconfig
tsconfig.json

# Additional Files
node_modules
src/
generateSnippets/
